[Desktop Entry]
Type=Application
Name=Files
Comment=Open Dolphin File Manager
Exec=dolphin
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
